#studoc_header{
    text-align: center;
    background-color: rgb(67, 101, 210);
}


.doc_container{
    border: 2px solid grey;
    padding: 20px 20px;
    width: 50%;
}
.doc_container{
    text-align: center;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
    border-radius: 20px;
}
#myFile{
    margin-left:5em;    
}
#studoc_submit{
   background-color: cornflowerblue;
   width:20%;
   padding: 15px;
   border-radius: 5px;
   margin-left: 90pt;
   
}