<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>STUDENT RECORDS</title>
   <link rel="stylesheet" href="stud-doc.css">
</head>
<body>
    <H1 id="studoc_header">STUDENT RECORDS COLLECTION PAGE</H1>
    <DIV class="doc_container">

        <H2> ADHAR CARD  </H2>
        <input type="file" id="myFile" name="filename1" required>
    </DIV>
    <DIV class="doc_container">
        <H2> 10th MARK SHEET</H2>
        
            <input type="file" id="myFile" name="filename2" required>
    </DIV>
    <DIV class="doc_container">

        <H2> 12TH MARK SHEET</H2>
       
            <input type="file" id="myFile" name="filename3" required>

    </DIV>
    <DIV class="doc_container">
        <H2> COMMUNITY CERTIFICATE</H2>
        
            <input type="file" id="myFile" name="filename4" required>

    </DIV>
    <DIV class="doc_container">
        <H2> INCOME CERTIFICATE</H2>
        
            <input type="file" id="myFile" name="filename5" required>
    </DIV>
    <DIV class="doc_container">
        <H2> TRANSFER CERTIFICATE</H2>
    
            <input type="file" id="myFile" name="filename5" required>
    </DIV> <BR>
    
       <button id="studoc_submit">SUBMIT</button>
        <BUTTON id="studoc_submit">RESET</BUTTON>
        <script>
            $("#studoc_submit").click(function() {
               alert("Your document has been submitted sucessfully!!!.");
            });
         </script>
    
</body>
</html>