@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
*{
  margin:0;
  padding:0;
  font-family: 'Montserrat', sans-serif;
  box-sizing:border-box;
}
body{
  min-height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background:linear-gradient(45deg, #000000, #0033ff);
}
.container{
  width:1120px;
  padding:20px;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-wrap:wrap;
}
.container .card{
  position:relative;
  width:300px;
  height:415px;
  background-color:#fff;
  border-radius:20px;
  margin:20px;
  box-shadow:0 15px 25px rgba(0,0,0,.2);
  cursor:pointer;
  overflow:hidden;
  transition:all .5s ease-in-out;
}
.container:hover .card{
  filter:blur(20px);
  opacity:.8;
  transform:scale(.9);
}
.container .card:hover{
  filter:blur(0);
  opacity:1;
  transform:scale(1.1);
}
.container .card:nth-child(1) .circle,
.container .card:nth-child(1) .content a{
  background-color:#ffaf00;
}
.container .card:nth-child(2) .circle,
.container .card:nth-child(2) .content a{
  background-color:#da2268;
}
.container .card:nth-child(3) .circle,
.container .card:nth-child(3) .content a{
  background-color:#bb02ff;
}
.container .card .circle{
  position:relative;
  width:100%;
  height:100%;
  clip-path:circle(160px at center 0);
  background-color:#000;
}
.container .card h2{
  color:#fff;
  font-size:4rem;
  text-align:center;
  padding-top:40px;
}
.container .card .content{
  position:absolute;
  bottom:20px;
  text-align:center;
}
.container .card .content p{
  font-size:1.2rem;
  color:#666;
  padding-bottom:15px;
}
.container .card .content a{
  position:relative;
  display:inline-block;
  color:#fff;
  background-color:#000;
  font-size:1.2rem;
  padding:10px 20px;
  margin:18px 0 10px;
  border-radius:40px;
  text-decoration:none;
}
