.report{
    /* font-family: 'Times New Roman', Times, serif; */
    max-width: 100%;   
    /* max-height: 100%; */
    height: auto;
    background-image: linear-gradient(#303f9f,#9fa8da,#9fa8da);
    color: #e3f2fd;
    letter-spacing: 2px;
    
}
.report header{
    padding: 20px 50px;
    background-color: transparent;
    font-size: 600;
    font-family: poppins;
}
.report nav{
    display: flex;
}
.subject{
    letter-spacing: 5px;
    border: 2px solid white;
    border-radius: 40px;
    padding: 10px;
    width: 180px;
    text-align: center;
    font-weight: 600;
}
.faculty{
    position: absolute;
    right: 25px;
    top: 15px;
    margin-top: 20px;
    
}
.reportcontent{
    margin: 0px 50px;
    background-color: #ffffff;
    height: 100%;
    padding: 50px;
    /* text-align: center; */
}
#totsub{
    color: grey;
    text-align: center;
    padding-bottom: 5px;
    font-family: poppins;
}
.btn{
    margin: 0px 50px;
    margin-top: 10px;
}
.btn button{
    padding: 5px 20px;
    border: 2px solid #ffffff;
    border-bottom: none;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.toggle_btn1{
    background-color: #ffffff;
    color: black;
}
.toggle_btn2{
    background-color: transparent;
    color: #ffffff;
}
.toggle_btnon{
    background-color: #ffffff;
    color: black;
}
.toggle_btnoff{
    background-color: transparent;
    color: white;
}
.percentage th{
    text-align: center; 
    border: 2px solid #0000;
    color: white;
    background-color: rgb(56, 53, 53);
}
.absent{
    display: flex;
    gap: 58%;
    margin-bottom: 30px;
    padding-bottom: 10px;
    border-bottom: 2px solid rgb(148, 145, 145);
    border-bottom-style: dashed;

}
#input{
    width: 200px;
    text-align: center;
    padding: 4px;
    border-radius: 10px;
}
.tot__period{
    color: black;
    text-align: right;
}
.result Table{
    min-width: auto;
    max-width: 70%;
    text-align: center;
    margin-bottom: 30px;
}
.details{
    display: flex;
    width: 70%;
    gap: 52%;
    margin-left: 15%;
    font-family: poppins;
    color: gray;
    margin-bottom: 10px;
    border-left: 4px solid rgb(124, 118, 118);
    padding-left: 10px;
    border-radius: 4px;
}