@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.cont body{
    background-color: #e5e5e5;
    font-family: 'Poppins', sans-serif;
    color: #cfbf9b;
}
.cont{
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 5% 5%;
    row-gap: 5%;
}

@media screen and (max-width: 820px){
    .cont{
        grid-template-columns: auto;
    }
}