<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SIS</title>
  <link rel="stylesheet" href="style_home.css">
</head>
<body>

<header>
  <nav class="navbar">
    <a href="/"><img class="logo" src="logo2.png" alt="spacex logo"></a>
    <ul id="ul-navigation" class="nav-ul" data-visible="false">
      <li class="nav-li"><a href="/">Home</a></li>
      <li class="nav-li"><a href="card/news.html">Newsletter</a></li>
      <li class="nav-li"><a href="attendance/atten.html">Sign In</a></li>
      <li class="nav-li"><a href="about/about.html">About</a></li>
    </ul>
    <button class="mobile-toggle" aria-controls="ul-navigation" aria-expanded="false">
      <span class="sr-only">Menu</span>
    </button>
  </nav>
</header>

<div class="hero-background">
  <div class="hero-section-wrapper">
    <p class="hero-text">Centralized</p>
    <h1 class="hero-header">Database System<br> to Manage<br> Student Information</h1>
    <button class="hero-button">
      <span>logon dashboard</span>
      </button>
  </div>
</div>
<script>
  const primaryNav = document.querySelector(".nav-ul");
const navToggle = document.querySelector(".mobile-toggle");

navToggle.addEventListener("click", function () {
  const accf = primaryNav.getAttribute("data-visible");

  if (accf === "false") {
    primaryNav.setAttribute("data-visible", true);
    navToggle.setAttribute("aria-expanded", true);
  } else if (accf === "true") {
    primaryNav.setAttribute("data-visible", false);
    navToggle.setAttribute("aria-expanded", false);
  }
});

</script>  
</body>
</html>