
.login {
    background-image: url(../../src-images/logincard/bg.jpg);
    height: 100%;
    width: 100%;
}
.login{
    display:inline-grid;
    grid-template-columns: auto auto auto;
    column-gap: 20%;
    margin: 10% 10%;
}
.login-Card-container{
    border-radius: 20px;
}
.login-card-content{
    /* border-top: 2px solid black;
    text-align: center;
    padding: 5% 0;
    font-size: 20px;
    letter-spacing: 3px;
    display: none; */
}
.login-card-img img{
    border: 3.5px solid black;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    /* margin-bottom: -3px; */
}
.login-Card-container:hover .login-card-content{
   display: block;
} 

@media screen and (max-width: 820px) {
    .login{
        grid-template-columns: auto;
        row-gap: 10%;
        justify-content: center;
    }
}